@model IEnumerable<My.Core.Infrastructures.Implementations.Models.ApplicationRole>

@{
    ViewBag.Title = "角色管理維護";
}

<h2>角色管理維護</h2>

<p>
    @Html.ActionLink("建立角色", "Create") | @Html.ActionLink("角色指派", "Index", "UserRoles") | @Html.ActionLink("回到管理總覽", "Index","Manage")
</p>
<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Void)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Void)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdateTime)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @Html.ActionLink("詳細", "Details", new { id=item.Id }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
